# https://editorconfig.org. Text is LF (.gitattributes); the few upstream
# files kept with CRLF are listed there as -text.
root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,h,S,s,ld,spec}]
indent_style = tab
tab_width = 4

[{Makefile,Makefile.*,*.mk}]
indent_style = tab
tab_width = 4

[{tools,tests}/**.py]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
